#loginUpperRow {
  margin: auto;
  margin-bottom: 5px;
  justify-content: center;
}

.loginImage {
  width: 4rem;
  height: 4rem;
  margin: 20px;
  margin-top: 42px;
}

.loginHeading {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.6px;
  font-size: 2.6rem;
  margin: 15px;
  margin-top: 48px;
}

.loginContainer {
  text-align: center;
  /* filter: drop-shadow(1px 1px 7px rgb(71, 122, 122)); */
  box-shadow: 0px 6px 22px -3px rgb(71, 122, 122);
  border: 3px rgb(19, 19, 19) solid;
  background-color: rgb(251, 251, 251);
  margin: auto;
  margin-top: 8%;
  width: 32%;
  padding-bottom: 30px;
}

.loginInputContainer {
  width: 70%;
  margin: auto;
}

.loginLabels {
  font-size: 1.15rem;
  letter-spacing: 0.5px;
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  padding-left: 18px;
}

#loginInputUsername,
#loginInputPassword {
  display: inline-block;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(248, 247, 247);
  width: 93%;
  font-size: 1.25rem;
}

#loginInputPassword {
  margin-left: -10px;
}

.loginButtons {
  display: flex;
  font-size: 1.2rem;
  border: 2px solid black;
  background-color: rgb(251, 251, 251);
  color: black;
  border-radius: 12px;
  padding: 4px 18px 7px 18px;
  margin: 30px 25px 0px 18%;
}

.loginButtons:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(79, 80, 80);
  filter: drop-shadow(0px 0px 4px gray);
}

.loginVisibleIcon {
  cursor: pointer;
  display: inline-block;
  margin-left: -35px;
  margin-top: -6px;
}

.loginLine {
  margin: auto;
  margin-top: 55px;
  margin-bottom: 20px;
  width: 72%;
  border-top: 1px solid gray;
}

.loginRegisterLine {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.loginRegisterButton {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.9px;
}

.loginRegisterButton:hover {
  text-decoration: none;
}

@media (max-device-width: 1300px) {
  .loginImage {
    width: 3.5rem;
    height: 3.5rem;
    margin: 20px;
    margin-top: 42px;
  }

  .loginHeading {
    font-size: 2.2rem;
    margin: 15px;
    margin-top: 48px;
  }
  .loginContainer {
    width: 36%;
  }

  .loginInputContainer {
    width: 73%;
    margin: auto;
  }

  .loginButtons {
    margin-left: 16%;
  }
}

@media (max-device-width: 1100px) {
  .loginImage {
    width: 3.5rem;
    height: 3.5rem;
    margin: 20px;
    margin-top: 42px;
  }

  .loginHeading {
    font-size: 2.2rem;
    margin: 15px;
    margin-left: 5px;
    margin-top: 48px;
  }
  .loginContainer {
    width: 40%;
  }

  .loginInputContainer {
    width: 77%;
  }
  .loginButtons {
    margin-left: 15.5%;
  }
}

@media (max-device-width: 900px) {
  .loginContainer {
    width: 52%;
  }
  .loginButtons {
    margin-left: 15%;
  }
}

@media (max-device-width: 660px) {
  .loginContainer {
    width: 55%;
  }
}

@media (max-device-width: 594px) {
  .loginContainer {
    width: 65%;
  }
  .loginLabels {
    font-size: 1.05rem;
  }

  #loginInputUsername,
  #loginInputPassword {
    font-size: 1.15rem;
  }

  .loginButtons {
    margin-left: 14.5%;
  }

  .loginRegisterLine {
    font-size: 1.1rem;
  }

  .loginRegisterButton {
    font-size: 1.1rem;
  }
}

@media (max-device-width: 425px) {
  .loginContainer {
    width: 75%;
  }

  .loginInputContainer {
    width: 85%;
  }

  .loginButtons {
    margin-left: 11%;
  }
}

@media (max-device-width: 375px) {
  .loginContainer {
    width: 80%;
  }

  .loginInputContainer {
    width: 90%;
  }

  .loginButtons {
    margin-left: 9%;
    padding: 2px 13px 5px 13px;
  }
}
