#modalFriendRequest {
  width: 450px;
  margin: auto;
  margin-top: 50px;
}

#modalBodyRequest {
  padding: 20px;
}

.modalFriendRequest {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Nanum Gothic", sans-serif;
}

#modalFriendRequestCloseButton {
  float: right;
  font-size: 2rem;
}

.modalFriendRequestLabel {
  font-size: 1.35rem;
  display: block;
}

.modalFriendRequestInput {
  margin-left: 0;
  margin-top: 3px;
}

.modalFriendRequestButton {
  margin-left: 0;
}

#modalFriendRequestAfter {
  width: 450px;
  margin-top: 50px;
}

.modalFriendRequestSent {
  font-size: 1.55rem;
  display: inline-block;
}

@media (max-device-width: 750px) {
  #modalFriendRequest {
    width: 60%;
    margin-top: 50px;
  }
  .modalFriendRequest {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #modalFriendRequestCloseButton {
    float: right;
    font-size: 1.7rem;
  }

  .modalFriendRequestLabel {
    font-size: 1.2rem;
  }

  .modalFriendRequestInput {
    margin-left: 0;
    margin-top: 3px;
  }

  .modalFriendRequestButton {
    margin-top: 0;
  }

  #modalFriendRequestAfter {
    width: 60%;
    margin-top: 50px;
  }

  .modalFriendRequestSent {
    font-size: 1.3rem;
  }
}

@media (max-device-width: 630px) {
  #modalFriendRequest {
    width: 70%;
  }
  #modalFriendRequestAfter {
    width: 65%;
    margin: auto;
    margin-top: 50px;
  }

  .modalFriendRequestSent {
    font-size: 1.2rem;
  }
}

@media (max-device-width: 460px) {
  #modalFriendRequest {
    width: 80%;
    margin-top: 50px;
  }
  #modalFriendRequestAfter {
    width: 70%;
  }
}
